* {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.navbar {
  background-color: rgb(222, 213, 213);
  background: rgb(0, 200, 255);
  background: white;
  z-index: 9999;

  height: 60px;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 3px solid rgb(42, 42, 42);
}
.navbar a {
  color: rgb(31, 30, 30);
  font-weight: 600;
}
.links {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: auto;
}

.home-img {
  /* height: 200px; */
}
#about,
#contact,
#home,
#skills,
#projects {
  /*  */
  padding-top: 60px;
}
#home {
  height: 100vh;
  // background: linear-gradient(270deg, rgb(0, 200, 255) 50%, white 50%);
}

.react-img {
  width: 400px;
}

// about

#about {
  background-image: linear-gradient(-45deg, blue, skyblue);
  background-size: 200%;
  background-image: linear-gradient(-45deg, rgb(26, 26, 27), rgb(81, 81, 81));
  text-align: center;
  padding: 30px 0px;
  color: white;
  .about_img {
    width: 400px;
    margin-bottom: 30px;
  }

  p {
    width: 400px;
    margin: auto;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    line-height: 25px;
  }
}

//  skills and tools

#skills {
  text-align: center;
  padding: 30px;

  .skills_deta {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  h1 {
    margin-bottom: 20px;
  }

  .skills-card {
    width: max-content;
    text-align: center;
    color: black;
    background-color: rgb(74, 113, 244);
    background-image: linear-gradient(-45deg, rgb(5, 5, 168), skyblue);
    background-size: 200%;
    border-radius: 16px;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
    filter: drop-shadow(4px 4px 1px rgb(0, 29, 126));

    color: white;
    svg {
      font-size: 150px;
      filter: drop-shadow(2px 4px 6px black);
    }
    p {
      filter: drop-shadow(4px 4px 1px rgb(0, 29, 126));
    }
  }
  .skills-card-img {
    width: 200px;
    height: 100px;
  }
}

#projects {
  padding: 30px;

  .all_projects {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
    .project-card {
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
      width: 400px;
      background-image: linear-gradient(
        -45deg,
        rgb(0, 0, 0),
        rgb(217, 213, 213)
      );
      background-size: 200%;
      color: rgb(29, 28, 28);
      border-radius: 8px;
      overflow: hidden;

      button {
        color: rgb(255, 255, 255);
        background-color: rgb(32, 30, 30);
        border-radius: 4px;
        padding: 10px 17px;
        font-size: 16px;
        font-weight: 600;
        border: none;
        margin: 5px;
        background-image: linear-gradient(
          -45deg,
          rgb(13, 13, 13),
          rgb(44, 42, 42)
        );
        background-size: 200%;
        width: 156px;
        background-image: linear-gradient(
          -45deg,
          rgb(5, 5, 168),
          rgb(103, 177, 206)
        );
        // background-size: 200%;
        filter: drop-shadow(4px 4px 1px rgb(0, 29, 126));
      }
    }
  }
  .pro-Info {
    padding: 20px 30px;
  }

  .pro-img img {
    width: 100%;
    border-bottom: 2px solid rgb(0, 0, 0);
    filter: drop-shadow(2px 4px 6px black);
  }

  .project-tech-stack {
    display: flex;
    justify-content: center;

    .skills-card {
      width: max-content;
      text-align: center;
      background-color: rgb(27, 27, 27);
      background-image: linear-gradient(
        -45deg,
        rgb(26, 26, 27),
        rgb(81, 81, 81)
      );
      background-image: linear-gradient(
        -45deg,
        rgb(13, 13, 13),
        rgb(44, 42, 42)
      );
      background-image: linear-gradient(-45deg, rgb(5, 5, 168), skyblue);
      background-size: 200%;
      background-size: 200%;
      border-radius: 4px;
      padding: 10px;
      font-size: 20px;
      font-weight: 600;
      margin: 5px;
      filter: drop-shadow(4px 4px 1px rgb(0, 29, 126));

      color: white;
      svg {
        font-size: 80px;
        filter: drop-shadow(2px 4px 6px black);
      }
    }
  }
  .project-tech-stack img {
    height: 100px;
    width: 200px;
  }
}

#contact {
  background-image: linear-gradient(-45deg, rgb(26, 26, 27), rgb(81, 81, 81));

  .contact_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
    padding: 30px;

    a {
      color: white;
    }

    .my_icon {
      display: flex;
      gap: 20px;

      svg {
        font-size: 30px;
        filter: drop-shadow(2px 4px 6px black);
      }
    }
  }
}

#home {
  background-color: rgb(239, 78, 9);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 30px;

  .home-img{
    border-radius: 8px;
  }
  

  button {
    padding: 20px 50px;
    margin-top: 30px;
    border-radius: 8px;
    border: none;
  }
}
.my-info {
  background-image: linear-gradient(-45deg, rgb(252, 252, 252), rgb(81, 81, 81));
  padding: 20px 30px;
  text-align: center;
  border-radius: 8px;
}
